.root {

	-color-main: darkred;

	-fx-border-color: -color-main;
	/*-fx-border-width: 1px;*/

}

.windowControls {

	-fx-background-color: -color-main;

}

.windowControls .button {

	-fx-min-height: 28;
	-fx-pref-height: 28;
	-fx-max-height: 28;
	-fx-min-width: 48;
	-fx-pref-width: 48;
	-fx-max-width: 48;

	-fx-background-color: white;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center center;
	-fx-background-size: contain;
	-fx-background-insets: 8 18;

}