.root {

	-color-primary: #08a142;
	-color-secondary: #4949ea;
	-color-background: #f4f4f4;

}

.custom-textfield {

	-fx-border-radius: 0;
	-fx-border-width: 0 0 2;
	-fx-border-insets: 0;
	-fx-background-insets: 0;
	-fx-padding: 5;
	-fx-background-color: -color-background;
	-fx-border-color: -color-primary;

}

.custom-textfield:focused {

	-fx-border-width: 0 0 2;
	-fx-border-color: -color-secondary;

}

.blank-field {

	-fx-padding: 0;
	-fx-border-width: 0;
	-fx-border-radius: 0;
	-fx-border-insets: 0;
	-fx-background-insets: 0;
	-fx-background-color: -color-background;
	-fx-font-size: 15;

}

.searchField {
	-fx-border-radius: 4;
	-fx-border-width: 1;
	-fx-border-color: #c8c8c8;
	-fx-padding: 4;
	-fx-background-color: white;
}

.searchField:focused {
	-fx-border-color: #c8c8c8;
	-fx-border-width: 1;
}

.left_border {

	-fx-border-color: -color-secondary;
	-fx-border-width: 0 0 0 2;
	-fx-padding: 0 0 0 6;

}