.root {

	-color-main: #08a142;

}

.text-field {

	-fx-border-radius: 0;
	-fx-border-width: 0 0 3;
	-fx-border-insets: 0;
	-fx-background-insets: 0;
	-fx-padding: 5;
	-fx-background-color: -fx-control-inner-background;

}

.text-field:focused {

	-fx-border-width: 0 0 3;
	-fx-border-color: -color-main;

}